{% extends 'base.html' %}

 
{% block title %}
 Home
{% endblock title %}
 
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide">
 <div class="carousel-indicators">
   <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
   <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
   <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
 </div>
 <div class="carousel-inner">
   <div class="carousel-item active">
     <img src="/static/1.avif" class="d-block w-100" alt="..." height="600">
   </div>
   <div class="carousel-item">
     <img src="/static/2.avif" class="d-block w-100" alt="..." height="600">
   </div>
   <div class="carousel-item">
     <img src="/static/3.avif" class="d-block w-100" alt="..." height="600">
   </div>
 </div>
 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
 </button>
</div>




<center><h1> Field Crops </h1> </center>

<div class="container-fluid my-20">

 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    {% for product in field_crops %}
         
        <div class="col">
            <div class="card shadow-sm">
            <img src="{{ product.image.url }}" class="d-block w-100" alt="..." height="400">
            <div class="card-body">
                <p class="card-text">{{ product.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="product/{{ product.slug }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View Product</button>
                    </a>
                </div>
                <small class="text-body-secondary">{{ product.seller }}</small>
                </div>
            </div>
            </div>
        </div>
   {% endfor %}
   
 </div>
</div>

<center><h1> Vegetable Seeds </h1> </center>

<div class="container-fluid my-20">

 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    {% for product in veg %}
         
        <div class="col">
            <div class="card shadow-sm">
            <img src="{{ product.image.url }}" class="d-block w-100" alt="..." height="400">
            <div class="card-body">
                <p class="card-text">{{ product.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="product/{{ product.slug }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View Product</button>
                    </a>
                </div>
                <small class="text-body-secondary">{{ product.seller }}</small>
                </div>
            </div>
            </div>
        </div>
   {% endfor %}
   
 </div>
</div>


{% endblock content %}
 